
/** ADD YOUR AWESOME CODES HERE **/

.bullet {
    list-style: circle;
    list-style-type: disc;
    margin-left:2%;
}

.logo {
    width: 6%;
}

.logo-large{
    width: 15%;
}
.ser-tools {
    text-align: center;
}

.hide {
    display: none;
}

.me{
    width: 50%;
}

.badgeLogo{
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
}
