
/** ADD YOUR AWESOME CODES HERE **/

.bullet {
    list-style: circle;
    list-style-type: disc;
    margin-left:2%;
}

.logo {
    width: 6%;
}

.logo-large{
    width: 15%;
}
.ser-tools {
    text-align: center;
}

.hide {
    display: none;
}

.me{
    width: 50%;
}

.badgeLogo{
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
}
.SQLbadgeLogo{
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 60px;
    margin-bottom: 20px;
}

.ContactMessage {
   width: 60%;
    resize: vertical;
}

.gallery-single {
	position: relative;
	overflow: hidden;
	-webkit-box-shadow: 0 0 10px #ccc;
	box-shadow: 0 0 10px #ccc;
}

.youTubeButton {
    transition-duration: 0.4s; 
  }
  
  .youTubeButton:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }